services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    environment:
      - CLUSTER_NAME=news-cluster
    ports:
      - "9870:9870"
      - "8020:8020"
    volumes:
      - ./hdfs/namenode:/hadoop/dfs/name

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    environment:
      - SERVICE_PRECONDITION=namenode:9870
      - CORE_CONF_fs_defaultFS=hdfs://namenode:8020
    volumes:
      - datanode:/hadoop/dfs/data
    depends_on:
      - namenode

  spark:
    image: apache/spark:3.5.0
    container_name: spark
    depends_on:
      - kafka
      - namenode
    environment:
    - HADOOP_CONF_DIR=/opt/hadoop/etc/hadoop
    - CORE_CONF_fs_defaultFS=hdfs://namenode:8020
    user: root
    volumes:
      - ./spark:/opt/spark-apps
      - ./ivy-cache:/home/spark/.ivy2
    # command: >
    #   bash -c "
    #   mkdir -p /home/spark/.ivy2/cache &&
    #   chown -R spark:spark /home/spark/.ivy2 &&
    #   su spark -c \"/opt/spark/bin/spark-submit
    #     --master local[*]
    #     --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0
    #     /opt/spark-apps/streaming_job.py\"
    #   "

    command:
      - /bin/bash
      - -c
      - |
        echo "Waiting for HDFS NameNode..."
        until (echo > /dev/tcp/namenode/8020) >/dev/null 2>&1; do
          echo "HDFS not ready, retrying..."
          sleep 5
        done
        echo "HDFS is ready!"
        /opt/spark/bin/spark-submit \
          --master local[*] \
          --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0 \
          /opt/spark-apps/streaming_job.py



  producer:
    image: python:3.10
    container_name: producer
    depends_on:
      - kafka
    volumes:
      - ./producer:/app
    working_dir: /app
    command:
      - /bin/bash
      - -c
      - |
        echo "Waiting for Kafka..."
        sleep 20
        pip install kafka-python feedparser
        python producer.py

volumes:
  namenode:
  datanode: