version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    environment:
      - CLUSTER_NAME=news-cluster
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - ./hdfs/namenode:/hadoop/dfs/name

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    depends_on:
      - namenode
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    volumes:
      - ./hdfs/datanode:/hadoop/dfs/data

  spark:
    image: bitnami/spark:3.5
    container_name: spark
    depends_on:
      - kafka
      - namenode
    volumes:
      - ./spark:/opt/spark-apps
    command: >
      bash -c "
      spark-submit
      --master local[*]
      --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0
      /opt/spark-apps/streaming_job.py
      "

  producer:
    image: python:3.10
    container_name: producer
    depends_on:
      - kafka
    volumes:
      - ./producer:/app
    working_dir: /app
    command: >
      bash -c "
      pip install kafka-python feedparser &&
      python producer.py
      "
